/*Polices de caractère*/
@font-face {
    font-family: 'aquirebold';
    src: url('aquirebold-8ma60-webfont.woff2') format('woff2'),
        url('aquirebold-8ma60-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*Librairies*/
@import "vendors/normalize.css";

/*Variables*/
@import "utils/variables.css";

/*Base*/
@import "base/main.css";

/*Composition*/
@import "layout/composition.css";

/*Composants*/
@import "components/composants.css";